.map-container {
  height: 90vh;
}

.mgl-map-overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.mapboxgl-ctrl-logo  {
    display: none !important;
}
.mapboxgl-ctrl-bottom-right  {
    display: none !important;
}